*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

/* Header Navigation Section */

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.nav-logo {
    width: 100px;
    height: 50px;
}

.logo {
    background-image: url(image/amazon_logo.png);
    background-size: cover;
    width: 100%;
    height: 50px;
}

.border {
    border: 1px solid transparent;
    border-radius: 2px;
}

.border:hover {
    border: 1px solid white;
    border-radius: 2px;
}

/* Address Part */
.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
}

.add-second {
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-add{
    padding: 7px;
}

/* Search Part */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-item {
    background-color: #f3f3f3;
    width: 45px;
    text-align: center;
    color: grey;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0 0 0 5px;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    font-size: 1.2rem;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Sign In */
span {
    font-size: 0.8rem;
}

.info {
    font-size: 1rem;
    font-weight: 700;
}

.nav-signin, .nav-return{
    padding: 5px;
}

/* Cart */
.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 1rem;
    font-weight: 700;
    padding: 8px;
}

/* Panel */
.panel {
    background-color: #222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-ops p {
    display: inline;
    font-size: 0.9rem;
    margin-left: 8px;
}

.panel-ops {
    width: 95%;
}

.panel-all i {
    font-size: 19px;
}

.panel-all {
    font-size: 1rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.box {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 10px 8px;
    cursor: pointer;
}

.box:hover {
    border: 1px solid white;
    border-radius: 2px;
}

/* Hero Section */
.hero {
    background-image: url(image/hero_image.jpg);
    height: 400px;
    background-size: cover;
}

/* Container Section */